/*CODE COMPLETED*/

/*About CSS*/

/*About Animation*/
@keyframes aboutAnimationOpen {
    0% {transform: translateY(10%); }
    100% {transform: translateY(0); }
}

@keyframes aboutAnimationClose {
    0% {transform: translateY(0); }
    100% {transform: translateY(10%); }
}

.aboutAnimationLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.aboutAnimationLayer.show {
    animation: aboutAnimationOpen 1s ease-out forwards;
}

.aboutAnimationLayer.hide {
    animation: aboutAnimationClose 1s ease-out forwards;
}

.aboutBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #cab681, #947c36);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 90;
}

.letters-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.letters-bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    pointer-events: none;
}

.letter1 {
    bottom: 0;
    right: 0;
}

.letter2 {
    top: 50%;
    right: 0;
}

.letter3 {
    bottom: 30%;
    left: 5%;
}

.letter4 {
    top: 5%;
    right: 0;
}

.letter5 {
    bottom: 50%;
    left: 20%;
}

.letter6 {
    top: 0;
    left: 0;
    transform: scale(0.5);
}

.letter7 {
    bottom: 0;
    left: 0;
}

.aboutBackground.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.noiseTexture1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.2'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>")
}

.aboutTH {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
    bottom: 0;
    will-change: backdrop-filter;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(217, 217, 217, 0.25));
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 -5px 20px rgba(255, 255, 255, 0.25);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.aboutTH h2 {
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    transition: 0.75s;
}

.backButtonAbout {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    background: none;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.backButtonAbout.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backButtonAbout::before,
.backButtonAbout::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: 0.75s;
    left: 50%;
    transform-origin: center;
}

.backButtonAbout::before {
    top: 18px;
    left: 15px;
    transform: rotate(-45deg);
}

.backButtonAbout::after {
    top: 35.5px;
    left: 15px;
    transform: rotate(45deg);
}

.backButtonAbout:hover::before {
    transform: translateY(-1.6px) translateX(0px) rotate(-45deg) scale(1.2);
    box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.25),
        -3px -3px 5px rgba(255, 255, 255, 0.5);
    transition: 0.25s;
}

.backButtonAbout:hover::after {
    transform: translateY(1.6px) translateX(0.4px) rotate(45deg) scale(1.2);
    box-shadow:
        -3px 3px 5px rgba(255, 255, 255, 0.5),
        3px -3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.aboutopened {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    width: clamp(400px, 80vw, 1000px);
    height: calc(100% - 165px);
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 90%, rgba(255, 255, 255, 0.25) 100%);
    backdrop-filter: blur(15px);
    box-shadow:
        inset 5px 5px 10px rgba(0, 0, 0, 0.25),
        inset -5px -5px 10px rgba(255, 255, 255, 0.25),
        5px 5px 20px rgba(255, 255, 255, 0.25),
        -5px -5px 20px rgba(255, 255, 255, 0.25),
        -5px 5px 20px rgba(255, 255, 255, 0.25),
        5px -5px 20px rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    touch-action: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease , transform 0.5s ease;
    z-index: 100;
}

.aboutopened.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.aboutopened p {
    font-size: 20px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}

/*Links*/
.contactBtn {
    display: inline-block;
    padding: 2px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow:
        2px 2px 5px rgba(0, 0, 0, 0.25),
        -2px -2px 5px rgba(255, 255, 255, 0.25);
    transition: 0.75s;
}

.contactBtn:hover {
    transform: scale(1.1);
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 12px #ffffff;
    transition: 0.25s;
}

/*Fade-Out Text on Scroll*/
.fade {
    height: 100%;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
}

.fade p:last-child {
    margin-bottom: 60px;
}

.fade::-webkit-scrollbar {
    width: 8px;
}

.fade::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.fade::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}