/*CODE COMPLETED*/

/*About CSS*/

/*About Animation*/
@keyframes aboutAnimationOpen {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes aboutAnimationClose {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10%);
    }
}

.aboutAnimationLayer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: clamp(87%, 158% - 74vw, 90%);
    pointer-events: none;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(255, 220, 131, 0.1) 100%);
}

.aboutAnimationLayer.show {
    animation: aboutAnimationOpen 1s ease-out forwards;
}

.aboutAnimationLayer.hide {
    animation: aboutAnimationClose 1s ease-out forwards;
}

.aboutBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:
        rgba(40, 40, 40, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 90;
}

.aboutBackground.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.noiseTexture1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.2'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>")
}

.aboutBackground h2 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-weight: bold;
    font-size: clamp(30px, 4vw, 40px);
    background: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(255, 241, 195, 0.15);
    backdrop-filter: blur(10px);
    box-shadow:
        0 0 20px rgba(255, 241, 195, 0.1);
    border-radius: 8px;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    cursor: default;
    z-index: 25;
    transition: 0.75s;
}

.aboutBackground h2:hover {
    color: #FFF4DB;
    background: rgba(255, 255, 255, 0.05);
    text-shadow:
        -4px -4px 8px rgba(255, 255, 255, 0.25),
        8px 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow:
        0 0 18px rgba(255, 241, 195, 0.35);
    transition: 0.25s;
}

.aboutopened {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    width: clamp(400px, 88vw, 1000px);
    height: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 70%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(255, 241, 195, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    touch-action: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    z-index: 100;
}

.aboutopened.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.aboutopened p {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}

/*Links*/
.contactBtn {
    display: inline-block;
    padding: 2px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow:
        2px 2px 5px rgba(0, 0, 0, 0.25),
        -2px -2px 5px rgba(255, 255, 255, 0.25);
    transition: 0.75s;
}

.contactBtn:hover {
    transform: scale(1.1);
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 12px #ffffff;
    transition: 0.25s;
}

/*Fade-Out Text on Scroll*/
.fade {
    height: 100%;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
}

.fade p:last-child {
    margin-bottom: 60px;
}

.fade::-webkit-scrollbar {
    width: 8px;
}

.fade::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.fade::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}