/*CODE COMPLETED*/

/*Character Design CSS*/

.characterdesignBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #252525;
  background-image: linear-gradient(-30deg,
      rgb(255, 213, 107, 0.25) 0%,
      rgb(37, 37, 37, 0.75) 40%,
      rgb(37, 37, 37, 0.75) 70%,
      rgb(255, 255, 255, 0.15) 100%),
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.1'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>");
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 90;
}

.characterdesignBackground.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: 0.5s;
}

.characterdesignTH {
  top: 0;
  left: 0;
  border-bottom: 2px solid rgb(255, 247, 224, 0.15);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-left: 20px;
  box-sizing: border-box;
  z-index: 30;
  transition: 0.5s;
}

.characterdesignTH h1 {
  position: absolute;
  color: white;
  font-size: 40px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

.characterLayout {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: calc(100% - 80px);
  padding: 0 120px 0 120px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 60px;
  box-sizing: border-box;
  transition: 0.5s;
}

.characterLayout::-webkit-scrollbar {
  height: 8px;
}

.characterLayout::-webkit-scrollbar-thumb {
  background: rgba(255, 243, 214, 0.25);
  border-radius: 10px;
}

.characterLayout::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 243, 214, 0.5);
}

.characterButton {
  position: relative;
  width: 75%;
  min-width: 200px;
  max-width: 250px;
  height: 75%;
  min-height: 300px;
  max-height: 600px;
  flex: 0 0 auto;
  background: transparent;
  box-shadow:
    10px 10px 10px rgba(255, 213, 107, 0.05),
    -10px -10px 10px rgba(255, 255, 255, 0.05);
  outline: 2px solid rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.25s;
}

.characterName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(0deg);
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 20px;
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgb(255, 230, 168, 0.05) 100%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 243, 214, 0.15);
  border-radius: 4px;
  pointer-events: none;
  opacity: 1;
  transition: 0.5s;
}

.characterButton:hover {
  box-shadow:
    0 0 25px rgba(255, 213, 107, 0.25),
    0 0 50px rgba(255, 255, 255, 0.5);
}

.characterButton:hover .characterImage {
  filter: grayscale(0%);
  transition: 0.25s
}

.characterButton:hover .characterName {
  top: 90%;
  font-size: 22px;
  padding-left: 140px;
  padding-right: 140px;
  background: linear-gradient(160deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgb(255, 230, 168, 0.1) 100%);
  box-shadow: 0 0 20px rgba(255, 243, 214, 0.25);
  transform: translate(-50%, -50%) skew(10deg);
  opacity: 1;
  transition: 0.25s;
}

/*Character Design Images*/
.characterImage {
  filter: grayscale(80%);
  pointer-events: none;
  transition: 0.5s;
}

/*Character Design Popup*/

/*Ezekiel*/
.characterPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg,
      rgb(153, 125, 56, 0.15) 0%,
      rgb(37, 37, 37, 0) 10%,
      rgb(37, 37, 37, 0) 90%,
      rgb(100, 100, 100, 0.1) 100%),
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.1'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>");
  backdrop-filter: blur(0px);
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.characterPopup.show {
  visibility: visible;
  backdrop-filter: blur(40px);
  opacity: 1;
  pointer-events: auto;
}

.characterLayoutPopup {
  position: absolute;
  top: 10px;
  width: 100%;
  max-width: 1000px;
  border-left: solid 2px rgba(255, 243, 209, 0.15);
  border-right: solid 2px rgba(255, 243, 209, 0.15);
  margin: 0 auto;
  padding: 0 40px 0 40px;
  height: calc(100vh - 20px);
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;

  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.characterLayoutPopup::-webkit-scrollbar {
  width: 8px;
}

.characterLayoutPopup::-webkit-scrollbar-thumb {
  background: rgba(255, 243, 214, 0.25);
  border-radius: 10px;
}

.characterLayoutPopup::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 243, 214, 0.5);
}

.characterLayoutShadow {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background: transparent;
  box-shadow: 0 0 40px rgb(255, 238, 194, 0.35);
  z-index: 1;
}

.characterLayoutPopup h1 {
  margin-top: 60px;
  margin-bottom: 10px;
  align-self: center;
  color: white;
  font-size: 40px;
}

.charDesc {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
  font-size: 18px;
}

.charObject1 {
  position: relative;
  padding: 0 20px;
  background: rgb(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 243, 209, 0.15);
  box-shadow:
    0 10px 10px rgba(255, 213, 107, 0.15),
    0 -10px 10px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

.formDesc {
  color: white;
  justify-self: center;
}