/*CODE COMPLETED*/

/*My Art CSS*/
.myartBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #252525;
    background-image: linear-gradient(-30deg,
            rgba(96, 184, 255, 0.25) 0%,
            rgba(37, 37, 37, 0.75) 40%,
            rgba(37, 37, 37, 0.75) 70%,
            rgba(255, 255, 255, 0.1) 100%),
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.1'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
    overflow: hidden;
    z-index: 90;
}

.myartBackground.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: 0.5s;
}

.myartTH {
    top: 0;
    left: 0;
    border-bottom: solid 2px rgb(138, 179, 255, 0.15);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 30;
    transition: 0.5s;
}

.myartTH.visible {
    backdrop-filter: blur(10px);
}

.myartTH h1 {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.myartMask {
    position: relative;
    top: 80px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 80px);

    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
}

.galleryLayout {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    gap: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: auto;
    border-left: solid 2px rgba(138, 179, 255, 0.1);
    border-right: solid 2px rgba(138, 179, 255, 0.1);
    border-radius: 0 0 20px 20px;
    box-shadow:
        0 0 40px rgba(165, 196, 255, 0.25);
    z-index: 2;
}

.myartMask::-webkit-scrollbar {
    width: 10px;
}

.myartMask::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.myartMask::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.galleryImg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.7;
    border-radius: 20px;
    border: 2px solid rgba(138, 179, 255, 0.25);
    object-fit: cover;
    cursor: pointer;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.25) 0%, rgba(200, 200, 200, 0.25) 70%, rgba(150, 150, 150, 0.25) 100%);
    box-shadow:
        5px 5px 20px rgba(80, 142, 255, 0.25),
        -5px -5px 20px rgba(255, 255, 255, 0.25);
    -webkit-user-drag: none;
    user-select: none;
    opacity: 1;
    transition: 0.75s;
}

.galleryImg:hover {
    border-radius: 15px;
    transform: scale(1.05);
    box-shadow:
        0 0 50px rgba(80, 142, 255, 0.35),
        0 0 25px rgba(255, 255, 255, 0.2);
    z-index: 200;
    transition: 0.25s;
}

.galleryItem {
    position: relative;
    border-radius: 20px;
    display: block;
}

.galleryInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 90%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border-top: solid 1px rgb(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(138, 179, 255, 0.15);
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.5),
        0 -5px 10px rgb(255, 255, 255, 0.25);
    border-radius: 10px;
    border-radius: inherit;
    backdrop-filter: blur(1px);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: 0.75s;
    user-select: none;
}

.galleryItem:hover .galleryInfo {
    transform: translate(-50%, -50%) scale(1.1);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
}

.galleryTitle {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.galleryDate {
    font-size: 0.9rem;
    opacity: 0.85;
    margin: 0;
}

/* Image Popup */
.myartImgPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.75);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.1'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>");
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    z-index: 500;
    transition: 0.5s;
}

.myartImgPopup.show {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.myartImgLayoutPopup {
    position: fixed;
    height: 100%;
    width: 60%;
    min-width: 500px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(184, 209, 255, 0.1);
    backdrop-filter: blur(10px);
    border-left: 2px solid rgba(184, 209, 255, 0.15);
    border-right: 2px solid rgba(184, 209, 255, 0.15);
    box-shadow: 0 0 40px rgba(184, 209, 255, 0.35);
    pointer-events: auto;
    z-index: 501;
}

#artPopupImg {
    position: relative;
    max-width: 90%;
    max-height: 65%;
    opacity: 0;
    transition: 0.5s;
    margin-bottom: 80px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow:
        0 0 50px rgba(139, 180, 255, 0.35),
        0 0 25px rgba(255, 255, 255, 0.2);
    -webkit-user-drag: none;
    user-select: none;
}

#artPopupImg.loaded {
    opacity: 1;
}

#artPopupInfo {
    position: absolute;
    bottom: 6%;
    background: rgba(0, 0, 0, 0.1);
    border: solid 2px rgba(255, 255, 255, 0.05);
    box-shadow: 0 -5px 10px rgba(115, 130, 159, 0.35);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    max-width: 80%;
    color: white;
    text-align: center;
    user-select: none;
    transition: 0.5s;
    z-index: 600;
}

#artPopupTitle {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    white-space: nowrap;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}

#artPopupDate {
    margin: 0;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.5s;
}

.myartImgPopup.show #artPopupImg[src]:not([src=""]) {
    pointer-events: auto;
    opacity: 1;
}

#closeArtPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: none;
    pointer-events: auto;
    border: none;
    cursor: pointer;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    padding: 0;
    transform-origin: center;
    transition: 0.75s ease-out;
    z-index: 502;
}

#closeArtPopup::before,
#closeArtPopup::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 6px;
    transition: 0.75s;
}

#closeArtPopup::before {
    transform: rotate(45deg);
}

#closeArtPopup::after {
    transform: rotate(-45deg);
}

#closeArtPopup:hover::before,
#closeArtPopup:hover::after {
    background-color: #ffffff;
    box-shadow:
        0 0 30px rgb(139, 178, 255),
        -2px -2px 8px rgb(255, 255, 255, 0.25),
        2px 2px 5px rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

#closeArtPopup:hover {
    transform: rotate(90deg) scale(1.2);
    transition: 0.5s;
}