<<<<<<< HEAD
/*CODE COMPLETED*/

/*My Art CSS*/
.myartBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #252525;
    background-image: linear-gradient(-30deg,
            rgb(43, 60, 74) 0%,
            rgb(37, 37, 37) 40%,
            rgb(37, 37, 37) 70%,
            rgb(255, 255, 255, 0.1) 100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
    overflow: hidden;
    z-index: 90;
}

.myartBackground.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: 0.5s;
}

.myartTH {
    top: 0;
    left: 0;
    border-bottom: solid 2px rgb(138, 179, 255, 0.15);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 30;
    transition: 0.5s;
}

.myartTH.visible {
    backdrop-filter: blur(10px);
}

.myartTH h1 {
    position: absolute;
    color: white;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.backButtonMyArt {
    position: absolute;
    left: 10px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    background: none;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
}

.backButtonMyArt.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backButtonMyArt::before,
.backButtonMyArt::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: 0.75s;
    left: 50%;
    transform-origin: center;
}

.backButtonMyArt::before {
    top: 18px;
    left: 15px;
    transform: rotate(-45deg);
}

.backButtonMyArt::after {
    top: 35.5px;
    left: 15px;
    transform: rotate(45deg);
}

.backButtonMyArt:hover::before {
    transform: translateY(-1.6px) translateX(0px) rotate(-45deg) scale(1.2);
    box-shadow:
        0 0 20px rgb(139, 178, 255),
        3px 3px 5px rgba(0, 0, 0, 0.25),
        -2px -2px 5px rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

.backButtonMyArt:hover::after {
    transform: translateY(1.6px) translateX(0.4px) rotate(45deg) scale(1.2);
    box-shadow:
        0 0 20px rgb(139, 178, 255),
        -2px 1px 5px rgba(255, 255, 255, 0.25),
        3px -3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.galleryShadow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: transparent;
    box-shadow:
        0 0 40px rgba(168, 199, 255, 0.35);
    pointer-events: none;
    z-index: 1;
}

.galleryLayout {
    position: absolute;
    top: clamp(70px, 15vh, 100px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    border-left: solid 2px rgba(138, 179, 255, 0.15);
    border-right: solid 2px rgba(138, 179, 255, 0.15);
    box-shadow:
        20px 0 20px rgba(0, 0, 0, 1),
        -20px 0 20px rgba(0, 0, 0, 1);
    margin: 0 auto;
    max-height: calc(100vh - clamp(70px, 15vh, 100px) - 0px);
    overflow-y: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.galleryLayout::-webkit-scrollbar {
    width: 10px;
}

.galleryLayout::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.galleryLayout::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.galleryImg {
    width: 100%;
    aspect-ratio: 1.7;
    border-radius: 20px;
    outline: 2px solid rgba(138, 179, 255, 0.25);
    object-fit: cover;
    cursor: pointer;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.25) 0%, rgba(200, 200, 200, 0.25) 70%, rgba(150, 150, 150, 0.25) 100%);
    box-shadow:
        5px 5px 20px rgba(80, 142, 255, 0.25),
        -5px -5px 20px rgba(255, 255, 255, 0.25);
    -webkit-user-drag: none;
    user-select: none;
    opacity: 1;
    transition: 0.75s;
}

.galleryImg:hover {
    border-radius: 10px;
    outline: 10px solid rgb(255, 255, 255, 0.1);
    transform: scale(1.05);
    box-shadow:
        0 0 50px rgba(80, 142, 255, 0.35),
        0 0 25px rgba(255, 255, 255, 0.2);
    z-index: 200;
    transition: 0.25s;
}

.galleryItem {
    position: relative;
    text-align: center;
    border-radius: 20px;
}

.galleryInfo {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 90%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border-top: solid 1px rgb(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(138, 179, 255, 0.15);
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.5),
        0 -5px 10px rgb(255, 255, 255, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(1px);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: 0.75s;
    user-select: none;
}

.galleryItem:hover .galleryInfo {
    transform: translate(-50%, -50%) scale(1.1);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
}

.galleryTitle {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.galleryDate {
    font-size: 0.9rem;
    opacity: 0.85;
    margin: 0;
}

/* Image Popup */
.myartImgPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    z-index: 500;
    transition: 0.5s;
}

.myartImgPopup.show {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.myartImgLayoutPopup {
    position: fixed;
    height: 100%;
    width: 60%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(184, 209, 255, 0.05);
    border-left: 2px solid rgba(184, 209, 255, 0.15);
    border-right: 2px solid rgba(184, 209, 255, 0.15);
    box-shadow: 0 0 40px rgba(184, 209, 255, 0.35);
    pointer-events: auto;
    z-index: 501;
}

#artPopupImg {
    position: relative;
    max-width: 90%;
    max-height: 65%;
    opacity: 0;
    transition: 0.5s;
    margin-bottom: 80px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow:
        0 0 50px rgba(139, 180, 255, 0.35),
        0 0 25px rgba(255, 255, 255, 0.2);
}

#artPopupImg.loaded {
    opacity: 1;
}

#artPopupInfo {
    position: absolute;
    bottom: 5%;
    background: rgb(255, 255, 255, 0.05);
    border: solid 2px rgba(255, 255, 255, 0.05);
    box-shadow: 0 -5px 10px rgba(115, 130, 159, 0.35);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    max-width: 80%;
    color: white;
    text-align: center;
    user-select: none;
    transition: 0.5s;
    z-index: 600;
}

#artPopupTitle {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    white-space: nowrap;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}

#artPopupDate {
    margin: 0;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.5s;
}

.myartImgPopup.show #artPopupImg[src]:not([src=""]) {
    pointer-events: auto;
    opacity: 1;
}

#closeArtPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: none;
    pointer-events: auto;
    border: none;
    cursor: pointer;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    padding: 0;
    transform-origin: center;
    transition: 0.75s ease-out;
    z-index: 502;
}

#closeArtPopup::before,
#closeArtPopup::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 6px;
    transition: 0.75s;
}

#closeArtPopup::before {
    transform: rotate(45deg);
}

#closeArtPopup::after {
    transform: rotate(-45deg);
}

#closeArtPopup:hover::before,
#closeArtPopup:hover::after {
    background-color: #ffffff;
    box-shadow:
        0 0 30px rgb(139, 178, 255),
        -2px -2px 8px rgb(255, 255, 255, 0.25),
        2px 2px 5px rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

#closeArtPopup:hover {
    transform: rotate(90deg) scale(1.2);
    transition: 0.5s;
}
=======
/*CODE COMPLETED*/

/*My Art CSS*/
.myartBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #252525;
    background-image: linear-gradient(-30deg,
            rgb(19, 26, 32) 0%,
            rgb(37, 37, 37) 40%,
            rgb(37, 37, 37) 70%,
            rgb(255, 255, 255, 0.1) 100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 90;
}

.myartBackground.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: 0.5s;
}

.myartTH {
    top: 0;
        left: 0;
        border-bottom: solid 2px rgba(255, 255, 255, 0.15);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 80px;
        backdrop-filter: blur(10px);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        padding-left: 20px;
        box-sizing: border-box;
        z-index: 30;
    transition: 0.5s;
}

.myartTH.visible {
    backdrop-filter: blur(10px);
}

.myartTH h1 {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.backButtonMyArt {
    position: absolute;
    left: 10px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    background: none;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
}

.backButtonMyArt.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backButtonMyArt::before,
.backButtonMyArt::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: 0.75s;
    left: 50%;
    transform-origin: center;
}

.backButtonMyArt::before {
    top: 18px;
    left: 15px;
    transform: rotate(-45deg);
}

.backButtonMyArt::after {
    top: 35.5px;
    left: 15px;
    transform: rotate(45deg);
}

.backButtonMyArt:hover::before {
    transform: translateY(-1.6px) translateX(0px) rotate(-45deg) scale(1.2);
    box-shadow:
        0 0 20px rgb(139, 178, 255),
        3px 3px 5px rgba(0, 0, 0, 0.25),
        -2px -2px 5px rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

.backButtonMyArt:hover::after {
    transform: translateY(1.6px) translateX(0.4px) rotate(45deg) scale(1.2);
    box-shadow:
        0 0 20px rgb(139, 178, 255),
        -2px 1px 5px rgba(255, 255, 255, 0.25),
        3px -3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.galleryLayout {
    position: absolute;
    top: clamp(70px, 15vh, 100px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: solid 2px rgba(255, 255, 255, 0.15);
    border-right: solid 2px rgba(255, 255, 255, 0.15);
    box-shadow:
        20px 0 20px rgba(0, 0, 0, 1),
        -20px 0 20px rgba(0, 0, 0, 1);
    margin: 0 auto;
    max-height: calc(100vh - clamp(70px, 15vh, 100px) - 0px);
    overflow-y: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
}

.galleryLayout::-webkit-scrollbar {
    width: 10px;
}

.galleryLayout::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.galleryLayout::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.galleryImg {
    width: 100%;
    aspect-ratio: 1.7;
    border-radius: 20px;
    outline: 0px solid rgba(255, 255, 255, 0.1);
    border: solid 2px rgba(255, 255, 255, 0.15);
    object-fit: cover;
    cursor: pointer;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.25) 0%, rgba(200, 200, 200, 0.25) 70%, rgba(150, 150, 150, 0.25) 100%);
    box-shadow:
        5px 5px 20px rgba(80, 142, 255, 0.25),
        -5px -5px 20px rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: 0.75s;
}

.galleryImg.loaded {
    opacity: 1;
}

.galleryImg:hover {
    border-radius: 10px;
    outline: 8px solid rgba(255, 255, 255, 0.1);
    border: solid 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    box-shadow:
        0 0 50px rgba(80, 142, 255, 0.35),
        0 0 25px rgba(255, 255, 255, 0.2);
    z-index: 200;
    transition: 0.25s;
}

.galleryItem {
    position: relative;
    text-align: center;
    border-radius: 20px;
}

.galleryInfo {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 90%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.5),
        0 -5px 10px rgb(255, 255, 255, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(1px);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: 0.75s;
    user-select: none;
}

.galleryItem:hover .galleryInfo {
    transform: translate(-50%, -50%) scale(1.1);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
}

.galleryTitle {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.galleryDate {
    font-size: 0.9rem;
    opacity: 0.85;
    margin: 0;
}

.myartImgPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    transition: 0.5s;
    pointer-events: none;
}

.myartImgPopup.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: 0.5s;
}

#popupImg {
    position: relative;
    max-width: 90%;
    max-height: 65%;
    opacity: 0;
    transition: 0.5s;
    margin-bottom: 80px;
    pointer-events: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow:
        0 0 50px rgba(139, 180, 255, 0.35),
        0 0 25px rgba(255, 255, 255, 0.2);
    z-index: 400;
}

#popupInfo {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255, 255, 255, 0.05);
    border: solid 2px rgba(255, 255, 255, 0.05);
    box-shadow: 0 -5px 10px rgba(115, 130, 159, 0.35);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    max-width: 80%;
    color: white;
    text-align: center;
    user-select: none;
    transition: 0.5s;
    z-index: 600;
}

#popupTitle {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    white-space: nowrap;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}

#popupDate {
    margin: 0;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.5s;
}

.myartImgPopup.show #popupImg[src]:not([src=""]) {
    opacity: 1;
}

#closeImagePopup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: none;
    pointer-events: auto;
    border: none;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    padding: 0;
    transform-origin: center;
    transition: 0.75s ease-out;
    z-index: 500;
}

#closeImagePopup::before,
#closeImagePopup::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 6px;
    transition: 0.75s;
}

#closeImagePopup::before {
    transform: rotate(45deg);
}

#closeImagePopup::after {
    transform: rotate(-45deg);
}

#closeImagePopup:hover::before,
#closeImagePopup:hover::after {
    background-color: #ffffff;
    box-shadow:
        0 0 30px rgb(139, 178, 255),
        -2px -2px 8px rgb(255, 255, 255, 0.25),
        2px 2px 5px rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

#closeImagePopup:hover {
    transform: rotate(90deg) scale(1.2);
    transition: 0.5s;
}
>>>>>>> e4bb22d29c56d0a0fae9e4ca3ff62de093a732b3
